@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", sans-serif;
    
}
.container{
    max-width: 1480px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.list-unstyled{
    list-style: none;
}
.text-dec{
    text-decoration: none;
}

.mt-40{margin-top: 40px;}
.m-auto{margin: auto;}
.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
.d-flex{display: flex;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.justify-around{justify-content: space-around;}
.color-1{
    color: rgba(19, 19, 24, 0.50);
}
.color-2{
    color: #131318;
}
.w-40{width: 40%;}.w-80{width: 80%;}.w-70{width: 70%;}.w-50{width: 50%;}.w-60{width: 60%;}

nav{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.nav-logo{
    width: 50px;
    height: 50px; 
    background-image: url(./Images/Group\ 40071\ \(2\).png);
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    padding-right: 40px;
    
} 
.nav-tittle h1{
    font-weight: 800;
    font-size: 30px;
}  
.nav-tittle span{
    color: #FF5400 ;
    
}


.nav-menu{
    display: flex;
    align-items: center;
    
}
.nav-menu ul li{
    display: inline-block;
    margin: 10px 25px;
}
.nav-menu ul li:nth-child(5){
    margin-right: 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color:#424247;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padd
}



.banner-section{
    position: relative;
}

.banner-img img{
    border-radius: 20px;
    width: 100%; 
    
}
.banner-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.677),rgba(0, 0, 0, 0));
    border-radius: 10px;
    margin: auto;
}
.banner-tittle{
    max-width: 60%;
    position: absolute;
    top: 10%;
    left: 20%; 
    text-align: center;
}
.banner-tittle h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-tittle p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.banner-btn{
    
    position: absolute;
    width: 70%;
    height: 20%;
    top: 70%;
    left: 12%;
    display: flex;
}
.banner-btn .btn{
    width:100%;
    margin:0 20px;
}
.banner-btn .btn a{
    color: rgba(19, 19, 24, 0.50);
    display: inline-block;
    background-color: #ffffff;
    padding-left: 10px;
    width: 230px;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
}
#btn-last a{
    background-color: #FF5400;
    color: #ffff;
    text-align: center;
}
#btn-last a i{
    padding: 0 10px;
}


/* tour-plan-section */
.tour-plan-section{
    
}
.tour-plan-text{
    width: 50%;
    line-height: 25px;
    padding-top: 50px;
}
.tour-plan-text h1{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tour-plan-text ul{
    width: 80%;
    padding: 2% 0% 2% 4%;
}
.tour-plan-image{
    width: 50%;
    text-align: end;
    padding-top: 50px;
}
.tour-btn{
    background-color: #FF5400;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;

}
.tour-btn a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
}
.dest-menues{
    height: fit-content;
    display: grid;
    height: 1200px;
   gap: 20px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.Maldives{
    grid-column: 1/ span 6;
    grid-row: 1/ span 4;
    background-image: url(./Images/Rectangle\ 5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px; 
    
}
.Indonesia{
    grid-column: 7/13;
    grid-row: 1/ span 4;
    background-image: url(./Images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.Srilanka{
    grid-column: 1/4;
    grid-row: 5/ span 3;
    background-image: url(./Images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.North-America{
    grid-column: 4/10;
    grid-row:5/ span 3;
    background-image: url(./Images/Rectangle\ 7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

}
.Kashmir{
    grid-column: 10/13;
    grid-row: 5/ span 3;
    background-image: url(./Images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.Bangladesh{
    grid-column: 1/5;
    grid-row: 8/12; 
    background-image: url(./Images/Rectangle\ 7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

}
.Bandarban{
    grid-column: 5/13;
    grid-row: 8/12;
    background-image: url(./Images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#country{
    position: relative;
}
.dest-menues a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 40%;
}

.why-card-section{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,350px);
}
.hotel-card{
    padding: 30px;
    border-radius: 10px;
    grid-column: 1/ span 6;
    background-color: #fffbf7;
    border: 2px solid #ffecd7;

}
.hotel-card-02{
    padding: 30px;
    border-radius: 10px;
    grid-column: 7/ span 6;
    background-color: #f4fdff;
    border: 2px solid #cdf3fc;
    
}
.hotel-card-03{
    padding: 30px;
    border-radius: 10px;
    grid-column: 4/ span 6;
    background-color: #fef6f6;
    border:2px solid #fdeaea;
}

.card-logo{
    display: inline-block;
    padding: 20px;
}
.card-text{

}
.card-text h1{
    color: #131318;
}
.card-text p{
    color: #5A5A5D;
}

.Deals-card-section{
    display: grid;
    padding: 50px 0px;
    border-radius: 20px;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(4,1fr); 
    background-size: cover;
    background-image: url(./Images/Group\ 39.png);
}
.dealcard-01{
    padding: 50px;
    border-radius:20px;
    
    grid-column: 13/ span 11;
    grid-row: 1/ span 4; 
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}
.dealcard-01 h1{

}
.dealcard-01 h3{
    color: #FF5400;
    font-weight: 800;
    font-size: 24px;
}
.dealcard-01 p{
    color: #5A5A5D;
    font-size: 20px;
}
.deal-icon .icon-01 i{
    color: #FF5400;
    padding-right: 20px;
}
.deal-icon .icon-01 span{
    padding-right: 20px; 
    color: #5A5A5D;
    font-size: 20px;
}
.deal-btn{
    padding-top: 20px;
}
.deal-btn a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #FF5400;
    padding: 16px 36px;
    border-radius: 10px;
    display: inline-block;
    
}
.Deals-card-section-02{
    margin: 50px 0px;
    display: grid;
    padding: 50px 0px;
    border-radius: 20px;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(4,1fr); 
    background-size: cover;
    background-image: url(./Images/Group\ 40.png);
}
.dealcard-02{
    padding: 50px;
    border-radius:20px;
    
    grid-column:4/ span 11;
    grid-row: 1/ span 4; 
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}
.video-section{
    height: 600px;
    padding: 30px 0;
}
.video-text{
    width: 50%;
    padding: 30px 0;
}
.video-text h1{
    color: #131318;
    font-family: Mulish;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px; 
    padding-right: 20px;
}
.video-text p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.video-text ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 20px;
}

.video-frame{
    width:50%; 
    padding: 30px 0;
    display: inline-block; 
    
}
.video-frame iframe{
    border-radius: 20px;
}

                /* news-letter-section */

.newsletter-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.letter-text{
    width: 34%;
    border: 1px solid #FF5400;
    border-radius: 10px;
    padding:50px 0px 50px 50px;
}
.news-btn{
    margin-top: 40px;
    width: 80%;
    height: 60px;
    padding-left: 15px;
    line-height: 60px;
}
.letter-text p{
    border-bottom: 2px solid #c3c3c344;
    padding-bottom: 30px;
}
#input-name{
    width: 80%;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #dbdbdb48;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 15px;
    font-weight: 500;
}

.news-letter-img img{
    width: 100%;
}
.video-content-section{
    height: 500px;
}
.news-letter-img{
    position: relative;
}
.sticker{
    text-align: center;
    background-color: #FF5400;
    width: 40%;
    border-radius: 10px;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 65px;
    right: 20px;
    transform: rotate(-19deg);

}
footer{
    background-color: #f3f3f3;
    padding: 100px 0;
}
.footer-text p{
    width: 50%;
    text-align: center ;
    margin: auto;
    color: #5A5A5D;
    
}
.footer-icon{
    text-align: center;
}

.footer-icon li a{
    font-size: 25px; 
    padding: 20px;
    color:black ;
}
.footer-icon li{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px ;
}
.footer-line{
    width: 80%;
    height: 2px;
    margin: auto ;
    background-color: #82828221;
}





@media screen and (max-width:576px) {
    .container{
        max-width: 95%;
    }
    nav{
        flex-direction: column;
        
    }
    .nav-menu ul li{
        display: inline-block;
        margin: 10px 10px;
    }
    .banner-section{
        text-align: center;
    }
    .banner-img img{
        height: 500px;
        object-fit: cover;
        width: 95%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img::before{
        content: "";
        position: absolute;
        width: 95%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.677),rgba(0, 0, 0, 0));
        border-radius: 10px;
        margin: auto;
    }
    .banner-tittle{
        max-width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
    }
    .banner-tittle h1{
        font-size: 1rem;   
    }
    .banner-tittle p{
        font-size: .8rem;
        line-height: 20px;   
   }
   .banner-btn{

    left: 10%;
    top: 36%;
    flex-direction: column;
    height: 53%;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(219, 219, 219, 0.341);
    }
    .banner-btn .btn{
        width:96%;
        margin: auto;
    }
    .banner-btn .btn a{
        width: 98%;    
        margin-bottom: 20px;
    }
    #btn-last a{
        background-color: #FF5400;
        color: #ffff;
        text-align: center;
    }
    .tour-plan-section{
        flex-direction: column;
    }
    .tour-plan-text{
        width: 90%;
        margin: auto;
    }
    .tour-plan-image{
        width: 100%;
        margin: auto;
    }
    .tour-plan-image img{
        width: 100%;
        height: auto;
        margin: auto;       
    }
    .destination-section{
        width: 95%;
        margin: auto;
    }
    .dest-tittle{
        width: 100%;
    }
    
    .dest-menues{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(28,1fr);
    }
    #country a{
        font-size: 1rem;
    }
    .Maldives{
        grid-column: 1/13;
        grid-row: 1/5;
    }
    .Srilanka{
        grid-column: 1/13;
        grid-row: 5/9;
    } 
    .Indonesia{
        grid-column: 1/13;
        grid-row: 9/13;
    }
    .North-America{
        grid-column: 1/13;
        grid-row: 13/17; 
    }
    .Kashmir{
        grid-column: 1/13;
        grid-row: 17/21;
    }
    .Bangladesh{
        grid-column: 1/13;
        grid-row: 21/25;
    }
    .Bandarban{
        grid-column: 1/13;
        grid-row: 25/29;
    }
    .why-card-section{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,350px);
    }

    .why-tittle{
        width: 100%;
    }
    .hotel-card{
        grid-column: 1/ span 1;
    }
    .hotel-card-02{
        grid-column: 1/ span 1;
    }
    .hotel-card-03{
        grid-column: 1/ span 1;
    }
    .Deals-card-section,.Deals-card-section-02{
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(6,1fr); 
        background-position: center;
    }
    .dealcard-01,.dealcard-02{
        padding: 50px;
        border-radius:20px;
        grid-column: 2/ span 6;
        grid-row: 3/ span 4; 
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
    }
    .deals-tittle{
        width: 100%; 
    }
    .video-section{
        flex-direction: column;
    }
    .video-text{
        width: 100%;
    }
    .video-text h1{
        text-align: center;
        font-size: 1.8rem;
        padding-right: 0px;
    }
    .video-text p { 
        width: 100% ;
        text-align: center;
    }
    .video-btn{
        display: flex;
        justify-content: center;
    }
   
    .video-frame{
        width: 100%;
    }
    .video-frame iframe{
        height: 300px;
    }
    .newsletter-section{
        flex-direction: column;
    }
    .letter-text{
        width: 90%;
    
    }
    .news-letter-img{
        width: 100%; 
        margin-top: 20PX;
    }
    .video-section{
        padding-bottom: 200px;
    }
    .sticker{
        line-height: 10px;
        text-align: center;
        background-color: #FF5400;
        width: 60%;
        height: 25%;
        border-radius: 10px;
        color: white;       
        position: absolute;
        bottom: 65px;
        right: 20px;
        transform: rotate(-19deg);
    }
    .footer-text p{
        width: 80% !important;
        margin: auto;
    }
}